.buttons{
  position: absolute;
  left: 0px;
  top: 200px;
  padding: 10px 12px;
}
button {
  border: none;
  cursor: pointer;
}
nav {
  font-size: 1rem;
  margin: 0 auto;

}
.locateBtn, .unitBtn {
  background: none;
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 50%;
  color: .fff;
  height: 40px;
  transition: background 1s ease-in-out, border 0.2s ease-in-out;
  width: 40px;
}
.locateBtn.on, .unitBtn.on {
  background: rgba(255,255,255,0.25);
}
.locateBtn:focus, .locateBtn:hover, .unitBtn:focus, .unitBtn:hover {
  border: 1px solid rgba(255,255,255,0.75);
}
.locateBtn {
  margin-right: 10px;
}
.unitBtn {
  font-weight: 300;
  padding-right: 3px;
  padding-top: 2px;
  text-transform: uppercase;
}
.unitBtn:before {
  content: '\00b0'; /* Degree symbol */
  padding: 1px;
}
/* locateBtn Pulse Animation */
.locateBtn.pulse {
  animation: pulse 2s infinite;
}
